[Unit]
Description=Gunicorn daemon to serve my flaskapp
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/498mp2server
ExecStart=/home/ubuntu/498mp2server/venv/bin/gunicorn serve
[Install]
WantedBy=multi-user.target
